#posts {
  min-height: 100%;
}

.container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.posts-page-title {
  margin-bottom: 32px;
}

.post {
  display: block;
  text-decoration: none;
  color: inherit;
  background: hsl(0deg 0% 80%);
  border-radius: 5px;
  padding: 32px 40px;
  margin-bottom: 20px;
  
}

.post:last-of-type {
  margin-bottom: 0;
}

.post:hover,.post:focus {
  transition: all 100ms ease-in-out;
  transform: scale(1.01);
  box-shadow: 0 0 10px hsl(0deg 0% 40%);
}
